<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="demandeConge">
      <h2 data-cy="demandeCongeDetailsHeading"><span jhiTranslate="stageApp.demandeConge.detail.title">Demande Conge</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demandeConge.id }}</span>
        </dd>
        <dt><span jhiTranslate="stageApp.demandeConge.dateDebut">Date Debut</span></dt>
        <dd>
          <span>{{ demandeConge.dateDebut | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="stageApp.demandeConge.dateFin">Date Fin</span></dt>
        <dd>
          <span>{{ demandeConge.dateFin | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="stageApp.demandeConge.duree">Duree</span></dt>
        <dd>
          <span>{{ demandeConge.duree }}</span>
        </dd>
        <dt><span jhiTranslate="stageApp.demandeConge.raison">Raison</span></dt>
        <dd>
          <span>{{ demandeConge.raison }}</span>
        </dd>
        <dt><span jhiTranslate="stageApp.demandeConge.etat">Etat</span></dt>
        <dd>
          <span jhiTranslate="{{ 'stageApp.Etat.' + demandeConge.etat }}">{{ demandeConge.etat }}</span>
        </dd>
        <dt><span jhiTranslate="stageApp.demandeConge.typeConge">Type Conge</span></dt>
        <dd>
          <div *ngIf="demandeConge.typeConge">
            <a [routerLink]="['/type-conge', demandeConge.typeConge?.id, 'view']">{{ demandeConge.typeConge?.nom }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="stageApp.demandeConge.salarie">Salarie</span></dt>
        <dd>
          <div *ngIf="demandeConge.salarie">
            <a [routerLink]="['/salarie', demandeConge.salarie?.id, 'view']">{{ demandeConge.salarie?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button style="background-color: #1a214d; color: #fff;" type="button" [routerLink]="['/demande-conge', demandeConge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
