<header id="header" class="header fixed-top" style="background-color: #ffffff; min-width: 50px;">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between" data-cy="navbar" >

    <a routerLink="/" (click)="collapseNavbar()" class="logo d-flex align-items-center">
      <span class="logo-img"></span>
      <!-- <span jhiTranslate="global.title" class="navbar-title">Leave management system</span> -->
    </a>
    <!-- Beginning the navbar -->
    <nav id="navbar" class="navbar">
      <ul>
        <!-- Beginning the home Menu -->
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()" class="nav-link scrollto active">
            <span>
            <fa-icon icon="home"></fa-icon>
            <span jhiTranslate="global.menu.home">Home</span>
          </span></a>
        </li>
        <!-- End home Menu -->

        <!-- Beginning the Admin Menu -->
        <li class="dropdown" 
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <fa-icon icon="users-cog"></fa-icon>
          <span jhiTranslate="global.menu.administration.main">Admin</span>
          <i class="bi bi-chevron-down"></i></a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a class="dropdown-item"
              routerLink="salarie"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()">
              <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.administration.salarie" style="padding-left: 10px;">List of users</span>
            </a></li>
            <li><a class="dropdown-item"
              routerLink="type-conge"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()" >
              <fa-icon icon="list-ul" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.administration.typeConge">List of leave types</span>
            </a></li>
          </ul>
        </li>
        <!-- End Admin Menu -->

        <!-- Beginning the HR Menu -->
        <li class="dropdown" 
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="users"></fa-icon>
            <span jhiTranslate="global.menu.hr.main">HR</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a class="dropdown-item"
              routerLink="salarie"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.hr.salarie">List of employees</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="departement"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="sitemap" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.hr.departement">Organization</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="contrat"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="file-signature" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.hr.contrat">List of contracts</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="poste"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="location-arrow" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.hr.poste">List of positions</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="#"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()">
              <fa-icon icon="file" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.hr.rapport">Leave report</span>
            </a>
          </li>
          </ul>
        </li>
        <!-- End HR Menu -->

        <!-- Beginning the Validation drop down menu  -->
      <li
      class="dropdown" 
      *jhiHasAnyAuthority="'ROLE_ADMIN'"
      ngbDropdown
      class="nav-item dropdown pointer"
      display="dynamic"
      routerLinkActive=""
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
        <span>
          <fa-icon icon="check"></fa-icon>
          <span jhiTranslate="global.menu.validation.main">Validation</span>
        </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="backspace" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.validation.delegation">Delegations</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.validation.collaborateur">My collaborators</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="validation-demande-conge"
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="list-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.validation.conges">List of leaves</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Validation menu -->

    <!-- Beginning the Requests Menu -->
    <li 
    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']"
    class="dropdown" 
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
      <span>
        <fa-icon icon="th-list"></fa-icon>
        <span jhiTranslate="global.menu.demandes.main">Requests</span>
      </span>
    </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="demande-conge"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()">
            <fa-icon icon="comment-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.demandes.conge">List of leave requests</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="demande-conge"
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()">
            <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.demandes.demandeConge">Request a leave</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Requests Menu -->

    <!-- Beginning the Calendar Menu -->
    <li 
    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']"
    class="dropdown" 
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
      <span>
        <fa-icon icon="calendar-alt"></fa-icon>
        <span jhiTranslate="global.menu.calendrier.main">Calendar</span>
      </span>
    </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="user-check" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.calendrier.monCalendrier">My calendar</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="globe" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.calendrier.annuel">Annual calendar</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.calendrier.collegue">My workmates</span>
          </a>
        </li>
        <li>
          <a
            *jhiHasAnyAuthority="'ROLE_ADMIN'"
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.calendrier.collaborateur">My collaborators</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="building" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.calendrier.departement">Departement</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="calendar-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.calendrier.global">Global</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink=""
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="table" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.calendrier.tabulaire">Tabular</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Calendar Menu -->

        <!-- Language menu -->
      <li ngbDropdown class="dropdown"  display="dynamic" *ngIf="languages && languages.length > 1">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
          <span>
            <fa-icon icon="flag"></fa-icon>
            <span jhiTranslate="global.menu.language">Language</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [jhiActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        </ul>
      </li>
      <!-- End Language menu -->

      <!-- Beginning the Account Menu -->
    <li class="dropdown" 
    ngbDropdown
    class="nav-item dropdown pointer"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
      <span>
        <fa-icon icon="user"></fa-icon>
        <span jhiTranslate="global.menu.account.main">Account</span>
      </span>
    </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
         
        <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
          <a
            class="dropdown-item"
            routerLink="account/password"
            routerLinkActive="active"
            (click)="collapseNavbar()"
            data-cy="passwordItem"
          >
            <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.password">Change password</span>
          </a>
        </li>
        <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
          <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
            <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.logout">Sign out</span>
          </a>
        </li>
        <li *jhiHasAnyAuthority="''">
          <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.login">Sign in</span>
          </a>
        </li>
        
      </ul>
    </li>
    <!-- End Account Menu -->

      </ul>
      </nav>
    </div>
</header>
<br><br><br><br><br>
<!-- End Header -->
